* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* --webkit-font-smoothing: antialiased; */
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Helvetica,
    "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-height: 100vh;
  /* background-color: #eae6f4; */
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}
.container h1 {
  justify-content: center;
  text-align: center;
}
nav {
  background: #553c9a;
  color: #fff;
  padding: 1rem 0;
}
section,
input {
  padding-top: 30px;
}
h2 {
  text-align: center;
  font-size: 36px;
}
.form__wrap {
  display: flex;
  justify-content: center;
}
.input__wrap {
  display: flex;
  align-items: center;
  border: 1px solid;
  margin-top: 30px;
}
input {
  border: none;
  padding: 10px;
  font-size: 16px;
  min-width: 400px;
  outline: none;
}
button {
  background: #553c9a;
  color: #fff;
  height: 100%;
  font-size: 16px;
  padding: 0 20px;
}
section.data{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.loading{
  display: none;
}
section.data p.def{
  font-size: 20px;
  line-height: 1.6;
}
